/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * 1) Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
 * {
    box-sizing: border-box; }

  /**
   * Zero out margin and padding on these elements
   */
  html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, figure {
    margin: 0;
    padding: 0; }

  /**
   * Remove list styles from ordered and unordered lists by default
   */
  ol, ul {
    list-style: none; }

  /**
   * Collapse borders on table's base styles
   */
  table {
    border-collapse: collapse;
    border-spacing: 0; }

  /**
   * Display block these elements
   */
  header, footer, nav, section, article, hgroup, figure {
    display: block; }

  /*------------------------------------*/

body{
    background: #fff;
    color:  #222;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;

}
header {
    text-align: right;
    /* background-color: lightgray; */
    font-size: 10pt;

}
header nav{
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 22px;
}
header .img{
  margin: 10px;
  float: right;
}
a{
  text-decoration: none;
}
header a{
  margin: 5px;
  /* text-decoration: none; */
}

section div.content {
  width: 100%;
  text-align: center;
  /* background-color: #e4e4e4; */
  padding-top: 21px;
  padding-bottom: 21px;

}
section div.img{
  margin-top: 75px;

}
section img{
  width: 480px;
}
/* .input-text {
  width: 588px;
  background-color: #fff;
  height: 44px;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
} */
.input-button{
  margin-top: 32px;

}
.off-text{
  margin-top: 32px;
}
input[type=text] {
  width: 588px;
  height: 46px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);

}
input[type=text]:focus {
  width: 588px;
}
input[type=text]:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.5s ease-in-out;

}
/* input[type=button] {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} */
input[type=submit],
input[type=button] {
  -webkit-border-radius: 2px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 37px;
}

footer{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    /* line-height: 40px; */
    /* min-width: 980px; */
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
}